
.blox{
	background-color: red;
	display: inline-block;
	height: 25px;
	width: 25px;
}


@media only screen and (min-width: 700px){
	.blox{
		background-color: blue;
	}
}

@media only screen and (min-width: 1000px){
	.blox{
		background-color: green;
	}
}