/*-----MAIN-----*/
html, body{
height: 100%;
padding-top: 100px;
}

html, body, header, footer{
    background-color: #ECECEA;
    font-family: 'Open Sans', sans-serif;
}

header, footer, .logo {
  background: linear-gradient(to right bottom, #648880, #293f50);
}

h1, h2, h3, h4, h5, h6{
font-family: 'Quicksand', sans-serif;
}

p{
font-family: 'Open Sans', sans-serif;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

/*-----HEADER & NAVIGATION-----*/
header{
font-family: 'Quicksand', sans-serif;
font-size: 105%;
    box-shadow: 0px 18px 26px 1px rgba(141, 141, 139, .75);
    width: 100%;
    position: fixed;
}

.body-home{
	background-color: #6699ff;
}

/*mobile-first*/
.top-nav ul{
list-style-type: none;
padding: 0;
margin: 0;
display: block;
}

.top-nav ul li, .menu-icon{
border-top: 1px solid #DDDDDA; 
}


.top-nav ul li a{
font-size: 1em;
color: #DDDDDA;
text-decoration: none;
padding: .5em 1em;
display: block;
text-align: center;
}



.top-nav ul li a.current-page{
color: #F54320;
font-weight: bold;
border-right: 3px solid #F54320;
border-left: 3px solid #F54320;
border-bottom: 3px solid #F54320;

}


/*-----LOGO-----*/
.logo{
margin: 0;
text-align: center;
padding: .25em .75em;
}
.logo img{
height: 3em;
}

/*-----FOOTER-----*/
footer{
font-size: .85em;
text-align: center;
position: relative;
bottom: 0;
width: 100%;
}

footer p{
padding-top: .5em;
padding-bottom: .75em;
}

/*-----HOMEPAGE-----*/



.explain-pics{
	margin:auto;
}
#banner{
	margin: auto;
	border: 5px solid black;
}
.mySlides{
	width: 100%;
}

.about{
	background-color: #648880;
	margin: 5%;
	border-radius: 12px;

}
#about-words{
	margin: 2%;
}

.initial-song{
	font-size: 25px;
}

.lyrics-list{
	list-style-type: none;
}
/*-----CONTACT PAGE ------*/
.contact-body{
	padding-top: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 5px;
	grid-column-gap: 5px;
}



.contact-preface{
	border-radius: 3px;
	background: #466368;
	grid-column: 2 / span 2;
	overflow: scroll;
}

.ask-head{
	text-align: center;
}

.vcard{
	grid-column: 1 / span 2;
	grid-row: 2;
	background: #466368;
}

.end-pic{
	grid-column: 3 / span 2;
	grid-row: 2;
}


/*-----EXTRA PAGE ------*/
/*photo gallery*/
.crafts{
display: block;
margin: auto;
max-width: 1200px;
}
.photo-cell{
margin-bottom: 2%;
margin-left: 2%;
}
.photo-cell img {
width: 98%;
 display: block;
  max-width: 100%;
  height: auto;
}




/*Extra*/

.body-extra{
	display: grid;

}

/*About*/

.body-about{
	background-image :url('https://usercontent1.hubstatic.com/13347264_f1024.jpg');

}

.boy{
	margin-top: 10px;

}

.learning{
	background: black;
	opacity: .9;
	color: green;
	margin: auto 0;

}

.vids{
	margin-top: 5%;
}

.animal-video{
	width: 100%;
	display:block;


}

.animal-video2{
	width: 100%;
	display: block;
}

